/* CSS reset minimo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  color: #111;
  background: rgb(233, 232, 232);
}

.container-header {
  display: inline-block;
  width: 100%;
  height: 64px;
  background-color: #131921;
}

.container-header img {
  max-width: 8%;
  display: inline;
}

.search-bar {
  width: 40%;
  display: inline;
  padding-left: 8px;
  padding-right: 0;
}

.search-button {
  width: 10%;
  display: inline;
  background-color: #febd69;
  color: black;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  border: 1px;
  border-radius: 4px;
  padding: 8px 16px;
}

.account {
  width: 10%;
  display: inline;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
}

.ordini {
  width: 10%;
  display: inline;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
}

.carrello {
  width: 10%;
  display: inline;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
}

.hero {
  width: 100%;
  display: block;
  background-color: #303f51;
  color: #fff;
  text-align: center;
  padding: 60px;
}

.categorie {
  margin: 32px;
}

.riga-categorie {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  margin-top: 12px;
}

.card-categoria {
  display: inline-block;
  margin-right: 32px;
  border-radius: 8px;
  background-color: white;
}

.background-card-elettronica {
  height: 200px;
  background-color: #232f3e;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.background-card-libri {
  height: 200px;
  background-color: #c45500;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.background-card-abbigliamento {
  height: 200px;
  background-color: #146eb4;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.background-card-casa {
  height: 200px;
  background-color: #067d62;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.prodotti {
  margin: 32px;
}

.grid-prodotti {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  margin-top: 12px;
}

.elements-card-cuffie, .elements-card-tablet, .elements-card-libro, .elements-card-zaino, .elements-card-lampada, .elements-card-smartwatch, .elements-card-mouse, .elements-card-caffettiera {
  display: grid;
  height: 200px;
  margin-right: 32px;
  border-radius: 8px;
  background-color: white;
  color: #111
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.background-card-abbigliamento {
  height: 200px;
  background-color: #146eb4;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

/* a {
  color: inherit;
  text-decoration: none;
} */
footer {
  background-color: #232F3E;
  color: white;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.table-footer {
  width: 100%;
}

.table-footer thead th {
  text-align: left;
}

.table-footer tr {
  font-size: 0.8em;
}

/* Scrivi qui sotto i tuoi stili */
